In [5]:
import pandas as pd

In [6]:
wapo= pd.read_csv('/Users/LiVi/opt/anaconda3/envs/cap2/policekillings/cap2_policekillings/data/raw/fatal-police-shootings-data.csv')

In [7]:
wapo.tail()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
5423,5931,Henry Barnes,2020-06-19,shot,undetermined,25.0,M,NaN,Jay,OK,False,attack,Foot,False
5424,5941,Cody W. Cook,2020-06-19,shot,gun,24.0,M,W,Sodus,NY,False,attack,Not fleeing,True
5425,5940,Michael Torres,2020-06-20,shot,machete,35.0,M,NaN,Lake Charles,LA,False,attack,Not fleeing,False
5426,5939,TK TK,2020-06-21,shot,knife,19.0,M,NaN,Milpitas,CA,False,attack,Not fleeing,False
5427,5938,TK TK,2020-06-22,shot,gun,NaN,M,NaN,Aurora,CO,False,attack,Not fleeing,True

# Deleted People Armed with Both Gun AND Vehicle
## I couldn't decide how to categorize them and there were relatively few

In [8]:
wapo[wapo['armed']=='gun and vehicle']

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
3643,3990,Fabian Ortiz Adame,2018-08-27,shot,gun and vehicle,25.0,M,W,Phoenix,AZ,False,attack,Car,False
3964,4374,Geoffrey Morris,2019-01-10,shot,gun and vehicle,29.0,M,W,Wichita,KS,False,attack,Car,False
4526,4934,Jose Mendez,2019-08-09,shot,gun and vehicle,37.0,M,H,Kansas City,MO,False,attack,Foot,False
4575,5002,Rene Enrique Ruiz,2019-08-30,shot,gun and vehicle,51.0,M,H,Tolleson,AZ,False,attack,Other,False
4705,5476,Cameron Bennett,2019-10-17,shot,gun and vehicle,22.0,M,B,Fayette,MS,False,attack,Car,False
4711,5219,Terry Countryman,2019-10-19,shot,gun and vehicle,34.0,M,W,Palestine,TX,False,attack,Other,False
4821,5485,Nicholas Cantelmi,2019-11-28,shot,gun and vehicle,31.0,M,W,Jim Thorpe,PA,False,attack,Other,False
4831,5233,Yemerson Melendez,2019-12-01,shot,gun and vehicle,16.0,M,H,Fort Pierce,FL,False,attack,Other,False
4902,5317,Richard Ruiz,2019-12-23,shot,gun and vehicle,38.0,M,H,Phoenix,AZ,False,attack,Car,False
5197,5704,Austin Hines,2020-04-01,shot,gun and vehicle,19.0,M,W,Columbus,MS,False,attack,Car,False

In [9]:
gunand = wapo[(wapo['armed']=='gun and vehicle')]

In [10]:
wapo = wapo.drop(index = gunand.index)

# Grouped Together Everything with Nontraditional Weapon

In [11]:
wapo[wapo['armed'].str.contains('gun|vehicle|knife|unarmed|unknown|undetermined')==False].head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
9,17,Leslie Sapp III,2015-01-06,shot,toy weapon,47.0,M,B,Knoxville,PA,False,attack,Not fleeing,False
16,32,James Dudley Barker,2015-01-08,shot,shovel,42.0,M,W,Salt Lake City,UT,False,attack,Not fleeing,True
50,99,Tiano Meton,2015-01-22,shot,toy weapon,25.0,M,B,Sierra Blanca,TX,False,attack,Car,False
70,346,Matautu Nuu,2015-01-28,shot and Tasered,hammer,35.0,M,A,Stockton,CA,True,attack,Not fleeing,False

# One-Hot Encoded the Different Kinds of Arms, including "Non-traditional Weapon"

In [12]:
wapo['armed_gun'] = wapo['armed'].str.contains('gun') == 1
wapo['armed_vehicle'] = wapo['armed'].str.contains('vehicle') == 1
wapo['armed_knife'] = wapo['armed'].str.contains('knife') == 1
wapo['armed_unknown'] = (wapo.armed.str.contains('unknown|undetermined')) == 1
wapo['unarmed'] = wapo.armed.str.contains('unarmed') == 1
wapo['untraditional_weapon'] = (wapo['armed'].str.contains('gun|vehicle|knife|unarmed|unknown|undetermined')==False) ==1

In [13]:
wapo.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,armed_gun,armed_vehicle,armed_knife,armed_unknown,unarmed,untraditional_weapon
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,True,False,False,False,False,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,True,False,False,False,False,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,False,False,False,False,True,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,False,False,False,False,False,True
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,True,False,False,False,False,False

In [14]:
wapo = wapo.dropna()

In [15]:
wapo = wapo.drop(columns = ['id','name','date','city','state'])

In [16]:
wapo.columns

Index(['manner_of_death', 'armed', 'age', 'gender', 'race',
       'signs_of_mental_illness', 'threat_level', 'flee', 'body_camera',
       'armed_gun', 'armed_vehicle', 'armed_knife', 'armed_unknown', 'unarmed',
       'untraditional_weapon'],
      dtype='object')

In [17]:
wapo.race.value_counts()

W    2250
B    1164
H     784
A      83
N      70
O      43
Name: race, dtype: int64

# One-Hot Encoded Gender, Manner of Death, Threat_Level, Flee.
## I'm not sure why. I guess I thought I needed to do this to categorical variables?
### Do I need to one-hot encode race? Since that's my target variable, I think not.

In [18]:
other = wapo.loc[:,['gender','manner_of_death','threat_level','flee']]
w = pd.concat((wapo, pd.get_dummies(other)), axis=1)

In [19]:
cols = ['gender','manner_of_death','armed','threat_level','flee']
w = w.drop(columns = cols)

In [20]:
pd.options.display.max_colwidth = 999
pd.options.display.max_rows = 999
list(w.columns)

['age',
 'race',
 'signs_of_mental_illness',
 'body_camera',
 'armed_gun',
 'armed_vehicle',
 'armed_knife',
 'armed_unknown',
 'unarmed',
 'untraditional_weapon',
 'gender_F',
 'gender_M',
 'manner_of_death_shot',
 'manner_of_death_shot and Tasered',
 'threat_level_attack',
 'threat_level_other',
 'threat_level_undetermined',
 'flee_Car',
 'flee_Foot',
 'flee_Not fleeing',
 'flee_Other']

In [21]:
w.head()

,age,race,signs_of_mental_illness,body_camera,armed_gun,armed_vehicle,armed_knife,armed_unknown,unarmed,untraditional_weapon,...,gender_M,manner_of_death_shot,manner_of_death_shot and Tasered,threat_level_attack,threat_level_other,threat_level_undetermined,flee_Car,flee_Foot,flee_Not fleeing,flee_Other
0,53.0,A,True,False,True,False,False,False,False,False,...,1,1,0,1,0,0,0,0,1,0
1,47.0,W,False,False,True,False,False,False,False,False,...,1,1,0,1,0,0,0,0,1,0
2,23.0,H,False,False,False,False,False,False,True,False,...,1,0,1,0,1,0,0,0,1,0
3,32.0,W,True,False,False,False,False,False,False,True,...,1,1,0,1,0,0,0,0,1,0
4,39.0,H,False,False,True,False,False,False,False,False,...,1,1,0,1,0,0,0,0,1,0

# MODEL 1, all entries present

In [22]:
import turicreate
sf = turicreate.SFrame(w)

In [23]:
feats = ['age',
 'signs_of_mental_illness',
 'body_camera',
 'armed_gun',
 'armed_vehicle',
 'armed_knife',
 'armed_unknown',
 'unarmed',
 'untraditional_weapon',
 'gender_F',
 'gender_M',
 'manner_of_death_shot',
 'manner_of_death_shot and Tasered',
 'threat_level_attack',
 'threat_level_other',
 'threat_level_undetermined',
 'flee_Car',
 'flee_Foot',
 'flee_Not fleeing',
 'flee_Other']

In [24]:
train_data,test_data = sf.random_split(.8,seed=0)
race_model = turicreate.logistic_classifier.create(train_data,target='race', features=feats, validation_set=test_data)

Logistic regression:

--------------------------------------------------------

Number of examples          : 3527

Number of classes           : 6

Number of feature columns   : 20

Number of unpacked features : 20

Number of coefficients      : 105

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+-------------------+---------------------+

| Iteration | Passes   | Elapsed Time | Training Accuracy | Validation Accuracy |

+-----------+----------+--------------+-------------------+---------------------+

| 1         | 2        | 1.102012     | 0.535299          | 0.554787            |

| 2         | 3        | 1.184118     | 0.536433          | 0.531719            |

| 3         | 4        | 1.276207     | 0.536150          | 0.552480            |

| 4         | 5        | 1.355711     | 0.536150          | 0.558247            |

| 5         | 6        | 1.431028     | 0.535583          | 0.557093            |

| 9         | 10       | 1.726994     | 0.535583          | 0.557093            |

+-----------+----------+--------------+-------------------+---------------------+

SUCCESS: Optimal solution found.

In [25]:
race_model.evaluate

<bound method LogisticClassifier.evaluate of Class                          : LogisticClassifier

Schema
------
Number of coefficients         : 105
Number of examples             : 3527
Number of classes              : 6
Number of feature columns      : 20
Number of unpacked features    : 20

Hyperparameters
---------------
L1 penalty                     : 0.0
L2 penalty                     : 0.01

Training Summary
----------------
Solver                         : newton
Solver iterations              : 9
Solver status                  : SUCCESS: Optimal solution found.
Training time (sec)            : 1.7356

Settings
--------
Log-likelihood                 : 3949.555

Highest Positive Coefficients
-----------------------------
(intercept)                    : 5.8027
threat_level_undetermined      : 5.5226
threat_level_undetermined      : 5.436
armed_vehicle                  : 5.3593
flee_Other                     : 5.2876

Lowest Negative Coefficients
----------------------------
unarmed                        : -4.0999
armed_unknown                  : -3.7908
untraditional_weapon           : -3.6982
armed_knife                    : -3.5671
armed_knife                    : -3.0232
>

In [26]:
race_model.evaluate(test_data, metric='roc_curve')

{'roc_curve': Columns:
 	threshold	float
 	fpr	float
 	tpr	float
 	p	int
 	n	int
 	class	int

 Rows: 600006

 Data:
 +-----------+--------------------+-----+----+-----+-------+
 | threshold |        fpr         | tpr | p  |  n  | class |
 +-----------+--------------------+-----+----+-----+-------+
 |    0.0    |        1.0         | 1.0 | 14 | 853 |   0   |
 |   1e-05   | 0.9964830011723329 | 1.0 | 14 | 853 |   0   |
 |   2e-05   | 0.9964830011723329 | 1.0 | 14 | 853 |   0   |
 |   3e-05   | 0.9964830011723329 | 1.0 | 14 | 853 |   0   |
 |   4e-05   | 0.9906213364595545 | 1.0 | 14 | 853 |   0   |
 |   5e-05   | 0.9753810082063306 | 1.0 | 14 | 853 |   0   |
 |   6e-05   | 0.9683470105509965 | 1.0 | 14 | 853 |   0   |
 |   7e-05   | 0.9613130128956624 | 1.0 | 14 | 853 |   0   |
 |   8e-05   | 0.958968347010551  | 1.0 | 14 | 853 |   0   |
 |   9e-05   | 0.9531066822977726 | 1.0 | 14 | 853 |   0   |
 +-----------+--------------------+-----+----+-----+-------+
 [600006 rows x 6 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.}

## How do I DRAW the roc curve? What other ways should I evaluate this? How do I read these evaluations?

In [27]:
w['prediction']=race_model.predict(sf, output_type='class')

In [28]:
w.loc[:,['race','prediction']]

     race prediction
0       A          W
1       W          W
2       H          B
3       W          W
4       H          W
...   ...        ...
5415    W          W
5418    B          W
5420    W          W
5422    H          B
5424    W          B

[4394 rows x 2 columns]

In [29]:
w['match'] = (w.race == w.prediction)

In [30]:
w.match.sum()

2372

In [31]:
w

,age,race,signs_of_mental_illness,body_camera,armed_gun,armed_vehicle,armed_knife,armed_unknown,unarmed,untraditional_weapon,...,manner_of_death_shot and Tasered,threat_level_attack,threat_level_other,threat_level_undetermined,flee_Car,flee_Foot,flee_Not fleeing,flee_Other,prediction,match
0,53.0,A,True,False,True,False,False,False,False,False,...,0,1,0,0,0,0,1,0,W,False
1,47.0,W,False,False,True,False,False,False,False,False,...,0,1,0,0,0,0,1,0,W,True
2,23.0,H,False,False,False,False,False,False,True,False,...,1,0,1,0,0,0,1,0,B,False
3,32.0,W,True,False,False,False,False,False,False,True,...,0,1,0,0,0,0,1,0,W,True
4,39.0,H,False,False,True,False,False,False,False,False,...,0,1,0,0,0,0,1,0,W,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5415,31.0,W,False,False,True,False,False,False,False,False,...,0,1,0,0,1,0,0,0,W,True
5418,31.0,B,False,False,True,False,False,False,False,False,...,0,1,0,0,0,0,1,0,W,False
5420,38.0,W,False,False,True,False,False,False,False,False,...,0,0,1,0,0,0,1,0,W,True
5422,18.0,H,False,False,True,False,False,False,False,False,...,0,0,1,0,0,1,0,0,B,False
5424,24.0,W,False,True,True,False,False,False,False,False,...,0,1,0,0,0,0,1,0,B,False

# MODEL 2, One-Hot Encoded Age Groups, to see if this improves accuracy

In [32]:
df = w.drop(['prediction','match'],axis=1)
df['0_to_10'] = df.age <= 0
df['11_to_20'] = (df.age>10)&(df.age<21)
df['21_to_30'] = (df.age>20)&(df.age<31)
df['31_to_40'] = (df.age>30)&(df.age<41)
df['41_to_50'] = (df.age>40)&(df.age<51)
df['51_to_60'] = (df.age>50)&(df.age<61)
df['61_to_70'] = (df.age>60)&(df.age<71)
df['71_to_80'] = (df.age>70)&(df.age<81)
df['81_to_90'] = (df.age>80)&(df.age<91)
df=df.drop('age',axis=1)

In [33]:
df.columns

Index(['race', 'signs_of_mental_illness', 'body_camera', 'armed_gun',
       'armed_vehicle', 'armed_knife', 'armed_unknown', 'unarmed',
       'untraditional_weapon', 'gender_F', 'gender_M', 'manner_of_death_shot',
       'manner_of_death_shot and Tasered', 'threat_level_attack',
       'threat_level_other', 'threat_level_undetermined', 'flee_Car',
       'flee_Foot', 'flee_Not fleeing', 'flee_Other', '0_to_10', '11_to_20',
       '21_to_30', '31_to_40', '41_to_50', '51_to_60', '61_to_70', '71_to_80',
       '81_to_90'],
      dtype='object')

In [34]:
sf2 = turicreate.SFrame(df)

In [35]:
feats = [
'0_to_10', 
'11_to_20',
'21_to_30', 
'31_to_40', 
'41_to_50', 
'51_to_60', 
'61_to_70', 
'71_to_80',
'81_to_90',
 'signs_of_mental_illness',
 'body_camera',
 'armed_gun',
 'armed_vehicle',
 'armed_knife',
 'armed_unknown',
 'unarmed',
 'untraditional_weapon',
 'gender_F',
 'gender_M',
 'manner_of_death_shot',
 'manner_of_death_shot and Tasered',
 'threat_level_attack',
 'threat_level_other',
 'threat_level_undetermined',
 'flee_Car',
 'flee_Foot',
 'flee_Not fleeing',
 'flee_Other']

In [36]:
train_data,test_data = sf2.random_split(.8,seed=0)
race_model2 = turicreate.logistic_classifier.create(train_data,target='race', features=feats, validation_set=test_data)

Logistic regression:

--------------------------------------------------------

Number of examples          : 3527

Number of classes           : 6

Number of feature columns   : 28

Number of unpacked features : 28

Number of coefficients      : 145

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+-------------------+---------------------+

| Iteration | Passes   | Elapsed Time | Training Accuracy | Validation Accuracy |

+-----------+----------+--------------+-------------------+---------------------+

| 1         | 2        | 0.261272     | 0.533314          | 0.547866            |

| 2         | 3        | 0.377510     | 0.469804          | 0.494810            |

| 3         | 4        | 0.459938     | 0.533598          | 0.546713            |

| 4         | 5        | 0.541429     | 0.527077          | 0.538639            |

+-----------+----------+--------------+-------------------+---------------------+

TERMINATED: Terminated due to numerical difficulties.

This model may not be ideal. To improve it, consider doing one of the following:
(a) Increasing the regularization.
(b) Standardizing the input data.
(c) Removing highly correlated features.
(d) Removing `inf` and `NaN` values in the training data.

### Accuracy decreased a little

In [37]:
race_model2.evaluate(test_data, metric='roc_curve')

{'roc_curve': Columns:
 	threshold	float
 	fpr	float
 	tpr	float
 	p	int
 	n	int
 	class	int

 Rows: 600006

 Data:
 +-----------+--------------------+-----+----+-----+-------+
 | threshold |        fpr         | tpr | p  |  n  | class |
 +-----------+--------------------+-----+----+-----+-------+
 |    0.0    |        1.0         | 1.0 | 14 | 853 |   0   |
 |   1e-05   | 0.9859320046893317 | 1.0 | 14 | 853 |   0   |
 |   2e-05   | 0.9859320046893317 | 1.0 | 14 | 853 |   0   |
 |   3e-05   | 0.9835873388042204 | 1.0 | 14 | 853 |   0   |
 |   4e-05   | 0.9835873388042204 | 1.0 | 14 | 853 |   0   |
 |   5e-05   | 0.9835873388042204 | 1.0 | 14 | 853 |   0   |
 |   6e-05   | 0.9835873388042204 | 1.0 | 14 | 853 |   0   |
 |   7e-05   | 0.9835873388042204 | 1.0 | 14 | 853 |   0   |
 |   8e-05   | 0.9835873388042204 | 1.0 | 14 | 853 |   0   |
 |   9e-05   | 0.9835873388042204 | 1.0 | 14 | 853 |   0   |
 +-----------+--------------------+-----+----+-----+-------+
 [600006 rows x 6 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.}

# MODEL 3, remove all entries who are Asians / NatAms / Other, Keeping New Age-Group Columns

In [38]:
mask = df['race'].str.contains('A|O|N')
sf3 = turicreate.SFrame(df[~mask])

In [39]:
train_data,test_data = sf3.random_split(.8,seed=0)
race_model3 = turicreate.logistic_classifier.create(train_data,target='race', features=feats, validation_set=test_data)

Logistic regression:

--------------------------------------------------------

Number of examples          : 3360

Number of classes           : 3

Number of feature columns   : 28

Number of unpacked features : 28

Number of coefficients      : 58

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+-------------------+---------------------+

| Iteration | Passes   | Elapsed Time | Training Accuracy | Validation Accuracy |

+-----------+----------+--------------+-------------------+---------------------+

| 1         | 2        | 0.074256     | 0.561905          | 0.575179            |

| 2         | 3        | 0.108219     | 0.558036          | 0.571599            |

| 3         | 4        | 0.136569     | 0.558333          | 0.571599            |

| 4         | 5        | 0.166201     | 0.558333          | 0.571599            |

| 5         | 6        | 0.194035     | 0.558333          | 0.571599            |

| 8         | 9        | 0.269423     | 0.558333          | 0.571599            |

+-----------+----------+--------------+-------------------+---------------------+

SUCCESS: Optimal solution found.

### Accuray increased a little, and surpassed Model 1

In [40]:
race_model3.evaluate(test_data, metric='roc_curve')

{'roc_curve': Columns:
 	threshold	float
 	fpr	float
 	tpr	float
 	p	int
 	n	int
 	class	int

 Rows: 300003

 Data:
 +-----------+--------------------+-----+-----+-----+-------+
 | threshold |        fpr         | tpr |  p  |  n  | class |
 +-----------+--------------------+-----+-----+-----+-------+
 |    0.0    |        1.0         | 1.0 | 232 | 606 |   0   |
 |   1e-05   |        1.0         | 1.0 | 232 | 606 |   0   |
 |   2e-05   |        1.0         | 1.0 | 232 | 606 |   0   |
 |   3e-05   | 0.9983498349834984 | 1.0 | 232 | 606 |   0   |
 |   4e-05   | 0.9983498349834984 | 1.0 | 232 | 606 |   0   |
 |   5e-05   | 0.9983498349834984 | 1.0 | 232 | 606 |   0   |
 |   6e-05   | 0.9983498349834984 | 1.0 | 232 | 606 |   0   |
 |   7e-05   | 0.9966996699669967 | 1.0 | 232 | 606 |   0   |
 |   8e-05   | 0.9966996699669967 | 1.0 | 232 | 606 |   0   |
 |   9e-05   | 0.9966996699669967 | 1.0 | 232 | 606 |   0   |
 +-----------+--------------------+-----+-----+-----+-------+
 [300003 rows x 6 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.}

# MODEL 4

# Still only black, white and hispanic entries. But also removed age-group cols.

In [41]:
# sf was the original sframe
feats = ['age',
 'signs_of_mental_illness',
 'body_camera',
 'armed_gun',
 'armed_vehicle',
 'armed_knife',
 'armed_unknown',
 'unarmed',
 'untraditional_weapon',
 'gender_F',
 'gender_M',
 'manner_of_death_shot',
 'manner_of_death_shot and Tasered',
 'threat_level_attack',
 'threat_level_other',
 'threat_level_undetermined',
 'flee_Car',
 'flee_Foot',
 'flee_Not fleeing',
 'flee_Other']

tempdf = sf.to_dataframe()
mask = tempdf['race'].str.contains('A|O|N')
sf4 = turicreate.SFrame(tempdf[~mask])

In [42]:
train_data,test_data = sf4.random_split(.8,seed=0)
race_model4 = turicreate.logistic_classifier.create(train_data,target='race', features=feats, validation_set=test_data)

Logistic regression:

--------------------------------------------------------

Number of examples          : 3360

Number of classes           : 3

Number of feature columns   : 20

Number of unpacked features : 20

Number of coefficients      : 42

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+-------------------+---------------------+

| Iteration | Passes   | Elapsed Time | Training Accuracy | Validation Accuracy |

+-----------+----------+--------------+-------------------+---------------------+

| 1         | 2        | 0.023512     | 0.560714          | 0.576372            |

| 2         | 3        | 0.043007     | 0.565179          | 0.573986            |

| 3         | 4        | 0.063328     | 0.565179          | 0.573986            |

+-----------+----------+--------------+-------------------+---------------------+

SUCCESS: Optimal solution found.

### Accuracy increased a little. This is the highest of all models in this notebook.

In [43]:
race_model4.evaluate(test_data, metric='roc_curve')

{'roc_curve': Columns:
 	threshold	float
 	fpr	float
 	tpr	float
 	p	int
 	n	int
 	class	int

 Rows: 300003

 Data:
 +-----------+-----+-----+-----+-----+-------+
 | threshold | fpr | tpr |  p  |  n  | class |
 +-----------+-----+-----+-----+-----+-------+
 |    0.0    | 1.0 | 1.0 | 232 | 606 |   0   |
 |   1e-05   | 1.0 | 1.0 | 232 | 606 |   0   |
 |   2e-05   | 1.0 | 1.0 | 232 | 606 |   0   |
 |   3e-05   | 1.0 | 1.0 | 232 | 606 |   0   |
 |   4e-05   | 1.0 | 1.0 | 232 | 606 |   0   |
 |   5e-05   | 1.0 | 1.0 | 232 | 606 |   0   |
 |   6e-05   | 1.0 | 1.0 | 232 | 606 |   0   |
 |   7e-05   | 1.0 | 1.0 | 232 | 606 |   0   |
 |   8e-05   | 1.0 | 1.0 | 232 | 606 |   0   |
 |   9e-05   | 1.0 | 1.0 | 232 | 606 |   0   |
 +-----------+-----+-----+-----+-----+-------+
 [300003 rows x 6 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.}